body {
    font-family: "Roboto";
    margin: 0;
}

.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}